html{
    scroll-behavior: smooth;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
}

body {
    background-color: #34383b;
}

main {
    background-color:#34383b;
    min-width: 520px;
    max-width: 750px;
    margin: 0px auto;
    padding: 30px
}

.card {
    font-size: 0;
    background-color: white;
    margin: 20px 0px;
    padding: 5px 20px;
}

.card-body{
    margin : 0px 0px;
    font-size:18px;
    display: inline-block;
    position:relative;
    width: 60%;
 
    
}
.card-img{
    align-items: top;
    display: inline-block;
    width: 40%;
  

}

.card-body h2 {
    font-size: 25px;
    text-transform: capitalize;
    margin: 15px 0px;
    color: red;
}

.card-body p{
    margin: 10px 0px;
}

.card.sporty {
    padding: 10px 10px 20px;
    margin: 20px;
    
}



.card.casual {
    padding: 10px 10px 20px;
    margin: 20px;
}

.card.formal {
    padding: 10px 10px 20px;
    margin: 20px;
}
.card-body a {
    text-decoration: none;
    border-radius: 5px;
    color: white;
    margin-top: 40px;
    padding: 5px 10px;
}

img {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.sporty a {
    background-color: red;
}

.casual a {
    background-color: blue;
}

.formal a {
    background-color: brown;
}