html{
    scroll-behavior: smooth;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
    
}

main {
    width: 100%;
    padding: 0px;
    margin: 0px 0px;

}

.card{
    width: 100%;
    background-color: white;
    margin: 20px 0px;
    height: 200px; 
    border: black 1px solid;
    padding: 10px 20px;
    

}

.card-body{
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 50%;
    border: green 1px solid;
    vertical-align: top; /* This ensures top alignment */
    
}

.card-body h2 {
    font-size: 25px;
    text-transform: capitalize;
    margin: 15px 0px;
    color: red;
}

.card-body p{
    margin: 10px 0px;
}

.card-img{
    display: inline-block;
    width: 40%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: red 1px solid;
}

img {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: blue 1px solid;
}
.card-body a {


}